<h1>Listing outlaws</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nick</th>
      <th>Wanted for</th>
      <th>Back story</th>
      <th>Facial hair</th>
      <th>How punished</th>
      <th>Hat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outlaws.each do |outlaw| %>
      <tr>
        <td><%= outlaw.name %></td>
        <td><%= outlaw.nick %></td>
        <td><%= outlaw.wanted_for %></td>
        <td><%= outlaw.back_story %></td>
        <td><%= outlaw.facial_hair %></td>
        <td><%= outlaw.how_punished %></td>
        <td><%= outlaw.hat %></td>
        <td><%= link_to 'Show', outlaw %></td>
        <td><%= link_to 'Edit', edit_outlaw_path(outlaw) %></td>
        <td><%= link_to 'Destroy', outlaw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outlaw', new_outlaw_path %>
